{% block container %}
<h1>Paises</h1>
<table class="table">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Iso</th>
    </tr>
    {% for country in countries %}
        <tr>
            <th scope="row">{{ country.id }}</th>
            <td>{{ country.name }}</td>
            <td>{{ country.iso }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}